<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photography</title>
    
    <link href="Content/bootstrap.min.css" rel="stylesheet" /> 
    <link href="css/default.css" rel="stylesheet" />
    <!--<script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>-->
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed left-dropdown" data-toggle="collapse"
                         data-target=".my-navbar-left,.my-navbar-right" aria-expanded="false" id="navbar-button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="wrapper">
                <!--class="collapse navbar-collapse"> -->
                <div class="collapse navbar-collapse my-navbar-left">
                    <!--<div class="collapse" id="my-navbar-left"> -->
                    <!--<div id="navbar-left">-->
                    <ul class="nav navbar-nav">
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/about">About Me</a></li>
                        <li> <a href="/portfolio">Portfolio</a></li>
                    </ul>
                </div>
                <a href="/" class="myLogo">
                    <img src="images/NicoleLogo.jpg"/> <!--style="width: 250px; height: 301px;"/>-->
                </a>
                <div class="collapse navbar-collapse my-navbar-right">
                    <!--<div class="collapse" id="my-navbar-right">-->
                    <ul class="nav navbar-nav">
                        <li> <a href="/pricing">Pricing</a></li>
                        <li> <a href="/blog">Blog</a></li>
                        <li> <a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>


            <div class="collapse my-navbar-left-xs">
                <ul class="nav navbar-nav">
                    <li> <a href="/">Home</a></li>
                    <li> <a href="/about">About Me</a></li>
                    <li> <a href="/portfolio">Portfolio</a></li>
                </ul>
            </div>

            <div class="collapse my-navbar-right-xs">
                <ul class="nav navbar-nav">
                    <li> <a href="/pricing">Pricing</a></li>
                    <li> <a href="/blog">Blog</a></li>
                    <li> <a href="/contact">Contact</a></li>
                </ul>
            </div>
            
        </div><!-- /.container-fluid -->
    </nav>
</header>

<script src="js/main.js"></script>

{{{body}}}
    
</body>
</html>