<head>
    <link href="css/home.css" rel="stylesheet" />
</head>

<!--
<body>
<div class="image-slider">
    <ul>    
        <li><a href="#" class="slider-slot-one">
            <img class="img-responsive" src="images/logo.jpg"> Image 1
        </a></li>
        <li><a href="#" class="slider-slot-two">
            <img class="img-responsive" src="images/logo2.png"> Image 2
        </a></li>
        <li><a href="#" class="slider-slot-three">
            <img class="img-responsive" src="images/NicoleLogo.jpg"> Image 3
        </a></li>
    </ul>
</div>
</body>-->

<body>
<div class="container">
    <div class="row">
        <div class="image-slider">
<!--
            <div>
                 make row with divs and let them fill part of 12 column grid? 
                <a href="#" class="slider-slot-one">
                    <img class="img-responsive" src="images/logo.jpg"> Image 1
                </a>
                <a href="#" class="slider-slot-two">
                    <img class="img-responsive" src="images/logo2.png"> Image 2
                </a>
                <a href="#" class="slider-slot-three">
                    <img class="img-responsive" src="images/NicoleLogo.jpg"> Image 3
                </a>
            </div>
-->
            <section class="col-xs-4">
                <!-- make row with divs and let them fill part of 12 column grid? -->
                <a href="#" class="slider-slot-one">
                    <img class="img-responsive" src="images/logo.jpg"> Image 1
                </a>
            </section>
            <section class="col-xs-4">
                <a href="#" class="slider-slot-two">
                    <img class="img-responsive" src="images/logo2.png"> Image 2
                </a>
            </section>
            <section class="col-xs-4">
                <a href="#" class="slider-slot-three">
                    <img class="img-responsive" src="images/NicoleLogo.jpg"> Image 3
                </a>
            </section>
        </div>
    </div>
</div>

<div class="links">
    <div class="link1 link">
        <a href="/about" >About Me</a>
    </div>
    <div class="link2 link">
        <a href="/portfolio" >My Work</a>
    </div>
    <div class="link3 link">
        <a href="/contact" >Contact</a>
    </div>
</div>
    
</body>
